@charset "UTF-8";

/*  Paleta de Cores

    verde: #49a09d
    lilas: #5f2c82

*/

/*Todas as demais miidias*/


/*Typical Device Brakpoints

Pequenas telas: atpe 600px
Celular: de 600 até 768px
Tablet: 768px até 992px
Desktop:992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (max-width: 768px) {

    body {
        background-color: var(--cor1);
    }

    main {
        background-color: white;
        margin: auto;
        width: 95vw;
        max-width: 300px;
        height: auto;
        min-height: 500px;
    }

    div#fundo img {
        width: 300px;
        height: 250px;
        border-radius: 20px 20px 0px 0px;
    }

    h1, .text {
        padding: 15px;
        display: block;
    }

    form {
        margin: auto;
        width: 280px;
    }

    #pf-iemail, #pf-isen {
        border-radius: 10px;
        margin: 5px;
        height: 50px;
        width: 275px;
        align-content: right;
        
    }

    .iinput {
        height: 40px;
        width: 220px;
        display: inline;
    }

    .foto {
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .foto img {
        width: 100%;
        height: auto;
        display: block;
        padding: 6px;
    }
}

:root {
    --cor1:#5f2c82;
    --cor2:#49a09d;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
}

main {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    margin: 20px;
    
}

#pf-iemail, #pf-isen {
    background-color: var(--cor1);
    display: flex;
    align-items: stretch;
    height: 45px;
    overflow: hidden;
}

.iinput  {
    background-color: var(--cor2);
    border-radius: 10px;
    border: 0px;
    margin: auto;
}

form p {
    display: inline-block;

}



