@charset "UTF-8";

/*  Paleta de Cores

    verde: #49a09d
    lilas: #5f2c82

*/

/*Todas as demais miidias*/


/*Typical Device Brakpoints

Pequenas telas: atpe 600px
Celular: de 600 até 768px
Tablet: 768px até 992px
Desktop:992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (max-width: 768px) {

    body {
        background-color: var(--cor1);
        width: 100%;
        
    }

    main {
        background-color: white;
        width: 90vw;
        max-width: 300px;
        height: auto;
        min-height: 500px;
        box-shadow: 0px 0px 10px 5px #3d1c53;
    }

    div#fundo img {
        width: 100%;
        max-width: 300px;
        height: 100%;
        max-height: 250px; ;
        border-radius: 20px 20px 0px 0px;
    }

    h1, .text {
        padding: 15px;
        display: block;
    }

    form {
        margin: auto;
        width: 280px;
    }

    #pf-iemail, #pf-isen {
        border-radius: 10px;
        margin: 5px;
        height: 50px;
        width: 275px;
        align-content: right;
        
    }

    div.botoes {
        padding-left: 6px;
    }

    .iinput {
        height: 40px;
        width: 220px;
        display: inline;
        font-size: 1em;
    }

    .foto {
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .foto img {
        width: 100%;
        height: auto;
        display: block;
        padding: 6px;
    }

    #Entrar {
        background-color: #49a09d ;
        color: white;
        font-size: 1.3em;
        width: 270px;
        height: 45px;
        border-radius: 10px;
        border: 0px;
        margin-bottom: 5px;
    }

    #esqueci-senha {
        background-color: white;
        border: 2.5px solid var(--cor2);
        color: gray;
        font-size: 1.3em;
        width: 270px;
        height: 45px;
        border-radius: 10px;
    }


}

 @media  screen and (min-width:769px) and (max-width:992px) {
    
    body {
        background-image:linear-gradient(to bottom, var(--cor1), var(--cor2) );
        align-content: center;
    }

    main {
        max-width: 700px; 
        max-height: 330px;
        width: 100%;
        height: 100%;
        margin: auto;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.151);
    }

    main h1 {
        font-size: 2.3em;
        margin-bottom: 10px;   
    }
    
    #fundo img {
        max-width: 250px;
        max-height: 330px;
        width: 100%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        margin: auto;
    }

    section {
        display: flex;
        position: absolute;
        top: 55%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    #formulario p {
        margin-bottom: 5px;
    }

    #pf-iemail, #pf-isen {
        margin-bottom: 5px;
        border-radius: 10px;
    }

    .foto img {
        padding-top: 3px;
        width: 40px;
        height: 40px;
        
    }

    .iinput {
        max-height: 40px;
        height: 100%;
        max-width: 355px;
        width: 100%;
        font-size: 1.2em;
    }

    #esqueci-senha {
        height: 45px;
    }

    #Entrar {
        width: 400px;
        max-height: 45px;
    }

    #Entrar input {
        width: 100%;
        height: 100%;
        max-height: 45px;
    }

    .botoes input {
        width: 100%;
        height: 90px;
    }
 }

 

 @media  screen and (min-width:992px) {
    
    body {
        background-image:linear-gradient(to bottom, var(--cor1), var(--cor2) );
        text-align:right;
    }

    main {
        display: inline-block;
        max-width: 1000px;
        width: 100%;
        max-height: 500px ;
        height: 100%;
        background-color: white;
        box-shadow: 0px 0px 3px 7px rgba(0, 0, 0, 0.068);
    }

    #fundo {
        display: flex;  
        position: absolute;
        top: 0%;
        left: 66.7%;
    }

    #fundo img {
        display: block;
        max-width: 400px;
        width: 100%;
        max-height: 500px;
        height:100%;
        border-radius: 0px 20px 20px 0px;
    }

    section {
        padding-left: 15px;
        max-width: 630px;
        width: 100%;
        max-height:480px; ;
        height: 100%;
    }

    #formulario {
        max-height: 800px;
        height: 100%;
    }

    #formulario h1 {
        font-size: 2.5em;
        padding-top:15px;
        padding-bottom: 30px;
    }

    #formulario p {
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 7px;
    }

    #pf-email {
        max-width: 615px;
        width: 100%;
        font-size: 1em;
    }

    #pf-iemail, #pf-isen {
        border-radius: 10px;
        margin-top: 7px;
    }

    label img {
        width: 45px;
        height: 45px;
    }
 
    #pf-isen input {
        max-width: 565px;
        width: 100%;
        max-height: 40px ;
        height: 100%;
        font-size: 1.2em;
    }

    div.botoes {
        display: block;
        width: 100%;
    }

    div.botoes p {
     padding: 0px;   
    }

    .iinput {
        height: 40px;
        width: 565px;
        font-size: 1.2em;
    }

    #Entrar {
        background-color: #49a09d ;
        color: white;
        font-size: 1.3em;
        width: 615px;
        height: 50px;
        border-radius: 10px;
        border: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #esqueci-senha{
        background-color: #49a09d ;
        color: white;
        font-size: 1.3em;
        width: 615px;
        height: 45px;
        border-radius: 10px;
        border: 0px;
    }
}







:root {
    --cor1:#5f2c82;
    --cor2:#5ccfcb;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
}

main {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

#pf-iemail, #pf-isen {
    background-color: var(--cor1);
    display: flex;
    align-items: stretch;
    height: 45px;
    overflow: hidden;
}

.iinput  {
    background-color: var(--cor2);
    border-radius: 10px;
    border: 0px;
    margin: auto;
}

form p {
    display: inline-block;
}

div.botoes {
    display: block;
    width: 100%;
    height:120px;
    cursor: pointer;
}

#Entrar {
        display: block;
        cursor: pointer;
        background-color: #49a09d ;
        color: white;
        font-size: 1.3em;
        border-radius: 10px;
        border: 0px;
        
    }

#Entrar input {
        width: 100%;
        height: 100%;
        max-height: 45px;
    }
#esqueci-senha {
        background-color: white;
        border: 2.5px solid var(--cor2);
        color: gray;
        font-size: 1.3em;
        border-radius: 10px;
        cursor: pointer;
    }

